.topright {
  float:right;
  padding-right: 4px;
}

.column {
  float: left;
  width: 50%;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #13294B;
  color: #FFFFFF;
}

.headings {
  color: #4B9CD3;
  text-decoration: underline;
  text-decoration-color: #4B9CD3;
}
.showDataButton {
  background-color: #4B9CD3
}